.weather {
  width: 320px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #333;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  position: relative;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}
.add-city-button {
  display: flex;
  justify-content: center;
  background-color: lightgreen;
  padding: 5px 10px;
  font-weight: 600;
  outline: none;
  border-radius: 5px;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px rgba(240, 239, 239, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.add-city-button:hover {
  background-color: darkseagreen;
}
