.user {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  background-color: burlywood;
  padding: 5px 10px;
  font-weight: 600;
  outline: none;
  border-radius: 5px;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px rgba(240, 239, 239, 0.5);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: coral;
}
